@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    height: 100%;
    z-index: -1;
}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover; /* fit image in container */
}
.background {
    transform: translateZ(-40px) scale(5.1);
}
.foreground {
    transform: translateZ(-20px) scale(3.1);
}
h1 {
    position: absolute;
    top: 10rem;
    left: 70%;
    transform: translateX(-50%);
    letter-spacing: 4px;
    font-size: 7rem;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
}
section {
    background-color: rgb(45,45,45);
    color: #fff;
    padding: 5rem 0;
}
.heading{
    font-size: 4rem;
    padding: 0 5rem;
}
.text {
    font-size: 1rem;
    padding: 0 5rem;
    margin: 3rem 0;
    text-align: justify;
}
.bg {
    position: relative;
    width: 100%;
    /* to fix the position of image below property is used */
    background-attachment: fixed;
    height: 500px;
    /* now i want that my image should be in center and should take up whole space, so i will be using below two properties */
    background-size: cover;
    background-position: center;
}
.bg1 {
    background-image: url(./assets/images/one.jpg);
}
.bg2 {
    background-image: url(./assets/images/two.jpg);
}
.bg3 {
    background-image: url(./assets/images/three.jpg);
}
.phase {
    position: absolute;
    background-color: #fff;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    color: black;
    transform: translateX(-50%);
    font-size: 2rem;
}